body{
	color: #000000;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	overflow-x: hidden;

}
img{
	max-width: 100%;
	height: auto;}
.header_wrap{
	background-image: url(../img/top_bg_img.png);
	width: 100%;
	height: 1240px;
    background-size: cover;
    z-index: 1;
    padding-bottom: 10%;
    overflow: hidden;
}

.header_wrap::after {
	content: '';
	width: 0;
	height: 0;
	
	position: relative;
	display: none;
	border-bottom: 550px solid white; 
	border-right: 1920px solid transparent;

}
.header_text{
	width: 40%;
}
.corporate_wrap{
	width: 40%;
	background-color: #23FF44;
	background: linear-gradient(17deg, transparent 720px, rgba(6, 6, 6, .6) 0),
	linear-gradient(17deg, #f5d515 720px, rgba(6, 6, 6, .6)  0);
	margin-left: 7%;
	float: left;
	position: absolute;
	top: 0;
}
.cor_img{
	display: block;
	margin: 0 auto;
	padding-top: 85px;
	width: 65%;
}
.descr{
	padding: 50px;
}
.caption{
	margin-top: 250px;
	color: #000000;
	font-family: Montserrat;
	font-size: 70px;
	font-weight: bold;
	text-transform: uppercase;
}
.lorem{
	font-family: Montserrat;
	font-size: 21px;
	font-weight: 400;
}
.logo_wrap{
	padding-top: 5%;
	padding-bottom: 27%;
	width: 40%;
	background-color: rgba(255, 33, 0, .8);
	background-color: #ff2100;
	background: linear-gradient(17deg, transparent 300px, rgba(255, 33, 0, .5) 0),
	linear-gradient(17deg, transparent 300px, rgba(255, 33, 0, .5)  0);
	position: absolute;
	right: 7%;
	z-index: 3;
}
.logo{
	display: block;
	margin: 0 auto;
	padding-top: 1rem;
	width: 55%;
}
.we_are{
	width: 40%;
	position: absolute;
	right: 7%;
}
.we_are h1{
	font-size: 60px;
}
.descripp::before, .descripp::after{
	content: "";
	width: 100%;
	height: 15px;
	background-color: #d3dedd;
	display: block;
	
}
.descripp h2{
	font-size: 50px;
	font-weight: 700;

}
.descripp p{
	font-size: 20px;
	font-weight: 300;
}
.our_company{
	width: 40%;
	margin-left: 7%;
	text-align:  center;
}
.our_company__caption{
	font-weight: 300;
	font-size: 54px;
}
.our_company__img{
	width: 40%;
	display: block;
	margin: 50px auto;
}
.our_company__link{
	text-decoration: none;
	color: #000;
	font-size: 54px;
}
footer{
	font-weight: 500;
	font-size: 1rem;
	margin-top: 2rem;
	text-align: right
}
footer span{
 font-weight: 800;
}
footer h2{
	font-size: 2.5rem;
	font-weight: 800;
	
	
}

.red_descr{
	width: 40%;
	margin-left: 7%;
	background-color: #e7371d;
	padding: 0
	color: #fff;
}
.red_descr p {
	padding: 50px;
}
.lorem_white{
	color: white;
}