 @media screen and (min-width: 320px) and (max-width: 767px) {
 	.caption{
 		font-size: 3rem;
 	}
 	.header_text{
 		width: 100%;
 		text-align: center;
 	}
 	.corporate_wrap{
 		width: 100%;
 		float: none;
 		top: 30rem;
 		margin: 0;
 		background: linear-gradient(17deg, transparent 820px, rgba(6, 6, 6, .6) 0),
 		linear-gradient(17deg, #f5d515 820px, rgba(6, 6, 6, .6)  0);
 	}
 	.logo_wrap{
 		width: 100%;
 		position: static;
 		margin: 0;
 		padding-bottom: 15rem;
 		background: linear-gradient(17deg, transparent 170px, rgba(255, 33, 0, .5) 0),
 		linear-gradient(17deg, transparent 170px, rgba(255, 33, 0, .5)  0);

 	}
 	footer{
 		width: 100%;
 		text-align: center;
 	}
 	footer h2{
 		font-size: 2rem;
 	}
	.red_descr{
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 20px 0;	
	}
	.we_are{
		width: 100%;
		margin-left: 7%;
		position: relative;
		top: 40rem;
		text-align: center;
	}
	.our_company__caption{
		width: 100%;
		margin-top: 50rem;
		text-align: center;
		font-size: 1.8rem;
	}

	.our_company__link{
		font-size: 2rem
	}
	.our_company{
		width: 100%;
		margin-left: 0;
		display: block;
		text-align: center;
	}
	.logo{
		width: 80%;
	}
	.logo_wrap{
		width: 100%
	}
 }
 @media screen and (min-width: 375px) and (max-width: 480px) {
	 	.logo_wrap{
 		padding-bottom: 12rem;
 		background: linear-gradient(17deg, transparent 170px, rgba(255, 33, 0, .5) 0),
 		linear-gradient(17deg, transparent 170px, rgba(255, 33, 0, .5)  0);
 	}
 	.our_company__caption{
 		font-size: 2rem;
 	}
 	
}
@media screen and (min-width: 400px) and (max-width: 480px) {
	.header_wrap{
		height: 1340px;
	}
	.corporate_wrap{
		top: 37rem;
		background: linear-gradient(17deg, transparent 670px, rgba(6, 6, 6, .6) 0),
		linear-gradient(17deg, #f5d515 670px, rgba(6, 6, 6, .6)  0);

	}
	.our_company__link{
		font-size: 2.5rem;
	}
}

 @media screen and (min-width: 480px) and (max-width: 767px) {
	.logo_wrap{
		background: linear-gradient(17deg, transparent 300px, rgba(255, 33, 0, .5) 0),
		linear-gradient(17deg, transparent 300px, rgba(255, 33, 0, .5)  0);
		padding-bottom: 20rem;
	}
	.header_wrap{
		height: 1900px;
	}
	.corporate_wrap{
		top: 55rem;
		background: linear-gradient(17deg, transparent 820px, rgba(6, 6, 6, .6) 0),
		linear-gradient(17deg, #f5d515 820px, rgba(6, 6, 6, .6)  0);
	}
	.caption{
		font-size: 5rem;
	}

	.our_company__caption{
		margin-top: 45rem;
		font-size: 2.5rem;
	}
	.our_company__link{
		font-size: 2.5rem
	}
	.we_are{
		top: 40rem
	}
 }
 @media screen and (min-width: 768px) and (max-width: 1023px) {
	
	footer{
 		font-size: 0.68rem
 	}
 	footer h2{
 		font-size: 1.3rem
 	}
 	.our_company__link{
 		font-size: 2rem;
 	}
 	.our_company__caption{
 		font-size: 1.8rem
 	}
 	.wrap_our_company{
 		margin-top: 25rem;
 	}
 	.logo_wrap{
		padding-bottom: 40%;
 	}
 	.descripp h2{
	font-size: 40px;}
	
 	.descr{
 		margin-top: 6rem;
 	}
 	.corporate_wrap{
 		background: linear-gradient(17deg, transparent 700px, rgba(6, 6, 6, .6) 0),
 		linear-gradient(17deg, #f5d515 700px, rgba(6, 6, 6, .6)  0);
 	}
 	.caption{
 		margin-top: 0;
 		font-size: 2.5rem;
 	}
 	.red_descr{
 		width: 40%;
 	}
 	.header_wrap::after{
 		display: block;
		top: 28rem;
	}
 }




@media screen and (min-width: 768px) and (max-width: 1000px) {
	.header_wrap{
		height: 700px;
	}
}


@media screen and (min-width: 885px) and (max-width: 1024px) {
	.corporate_wrap{
	background: linear-gradient(17deg, transparent 650px, rgba(6, 6, 6, .6) 0),
	linear-gradient(17deg, #f5d515 650px, rgba(6, 6, 6, .6)  0);
	}
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
	
	.header_wrap{
		height: 700px;
	}
	.corporate_wrap{
		background: linear-gradient(17deg, transparent 650px, rgba(6, 6, 6, .6) 0),
		linear-gradient(17deg, #f5d515 650px, rgba(6, 6, 6, .6)  0);
	}
	.cor_img{
		width: 60%;
		padding-top: 30px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
	footer h2{
		font-size: 1.8rem
	}
	.logo_wrap{
		padding-bottom: 30%;
 	}
	.header_wrap{
		height: 950px;
	}
	.header_wrap::after{
		display: block;
		top: 38rem
	}
	.corporate_wrap{
		background: linear-gradient(17deg, transparent 850px, rgba(6, 6, 6, .6) 0),
		linear-gradient(17deg, #f5d515 850px, rgba(6, 6, 6, .6)  0);
	}
	.our_company__caption{
		
		font-size: 2.5rem;
	}
	.our_company__link{
		font-size: 2.5rem;
	}
	.wrap_our_company{
		margin-top: 25rem;
	}
}



@media screen and (min-width: 1250px) and (max-width: 1440px) {
	.header_wrap::after{
		top: 45rem;
	}
	.header_wrap{
		height: 1100px;
	}
	.our_company__caption{
		margin-top: 27rem;}

}
@media screen and (min-width: 1300px) and (max-width: 1440px) {
	
	.corporate_wrap{
	background: linear-gradient(17deg, transparent 720px, rgba(6, 6, 6, .6) 0),
	linear-gradient(17deg, #f5d515 720px, rgba(6, 6, 6, .6)  0);
	}

}
@media screen and (min-width: 1350px) and (max-width: 1440px) {
	
	.caption{
		margin-top: 170px;
	}	
}
